/* pretty radio */
.labeli>.inputi[type="radio"] {
  display: none;
}

.labeli>.inputi[type="radio"]+*::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}

.labeli>.inputi[type="radio"]:checked+* {
  color: teal;
}

.labeli>.inputi[type="radio"]:checked+*::before {
  background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent);
  border-color: teal;
}

.labeli>.inputi[type="radio"]+* {
  display: inline-block;
  padding: 0.5rem 1rem;
}

/* basic layout */
.fieldseti {
  margin: 20px;
  max-width: 400px;
}

/*Labeli2*/
.labeli2>.inputi2[type="radio"] {
  display: none;
}

.labeli2>.inputi2[type="radio"]+*::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}

.labeli2>.inputi2[type="radio"]:checked+* {
  color: red;
}

.labeli2>.inputi2[type="radio"]:checked+*::before {
  background: radial-gradient(red 0%, red 40%, transparent 50%, transparent);
  border-color: red;
}

.labeli2>.inputi2[type="radio"]+* {
  display: inline-block;
  padding: 0.5rem 1rem;
}
