Question {{questionIndex+1}} of {{questions.length}}
<br>
<h5>{{currentQuestion}}</h5>
<fieldset class="fieldseti">
  <label [ngClass]="this.labeli" *ngFor="let option of currentOptions">
    <input [ngClass]="this.inputi" id="usera" (click)="setUserAnswer(option)" type="radio" value={{option}}
      name="answer">
    <span>{{option}}</span>
  </label>
</fieldset>
<div>
  <p *ngIf="this.checkAnswer" style="color:red">You Selected Wrong Option</p>
  <h6 *ngIf="this.checkAnswer">Correct Option is {{this.correctAnswer}}</h6>
</div>
